@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc;
  color: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}

@layer utilities {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
